/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: all .2s;
  transition: all .2s;
}

img {
  max-width: 100%;
  display: block;
}
a{
    text-decoration:none;
    color:black
}
/* ================================= 
  Element Styles
==================================== */
header{
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
}

header h1{
    font-size: 1.2em;
    
}
.banner{
    text-align: center;
    padding: 8em;
    background-color: #D2E9FF;
}
.banner h2{
    font-size: 2em;
    white-space:nowrap;
}
.container{
    margin: 0 auto;
    text-align: center;
}
.container h3{
    padding: 2em;
    font-size: 1.5em;
    font-weight: bold;
}
.box{
    height: 3em;
    background-color: #F0F0F0;
    padding-top: 1em;
    padding-bottom: 10em;
    margin: .5em;
}
.button{
  display: inline-block;
  padding: 1em 1.5em;
  background-color: #D2E9FF;
  margin: 1em;
}
.menuToggle{
    font-family: 'Material Icons';
    cursor: pointer;
    display: block;
    font-size: 2rem;
}
.header-nav {
    display: none;
}

@media screen and (min-width:499px) {
  .box{
    width: 45%;
  }  
  .boxes{
    display:flex;
    flex-wrap: wrap;
    justify-content: center;        
  } 
}
@media screen and (min-width: 800px){
    .header-nav{
        display: flex;
    }
    .logo,.header-nav a{
        text-align: center;
        display: block;
        padding: 10px 15px; 
    }
    .menuToggle{
        display: none;
    }

}

@media screen and (min-width: 1200px){
    .container{
        max-width: 1200px;
    }
}
